
{{#each books}}
    <div class="book">
        <img src="{{this.book_cover}}" alt="Cover image of {{this.title}}">
        <h3>{{this.title}}</h3>
        <p>By {{this.author.author_name}}</p>
    </div>
{{/each}}