<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<body>

<section>
  <div class="container">
  <header class="">
  </header>

    <h1>Welcome, <span id="user-profile-name">{{user}}</span></h1>
    <ul>
      {{#each books}}
      <li>{{this.title}}</li>
      {{/each}}
    </ul>
    </div>



<script src="/js/profile.js"></script>
</section>
